body {
  font-size: 1em;
  font-family: "Oswald", Helvetica, Arial, sans-serif!important;
  margin: 8px;
}

h2 {
  margin-bottom:4px;
}

p.breadcrumbs {

}

p.menu_link {
  margin-top:0px;
  margin-bottom:0px;
  font-size: 1.2em;
}

table.categories {
  border-spacing: 2px;
  border-collapse: separate;
}

table.items {
  border-spacing: 6px;
  border-collapse: separate;
}

td {
  vertical-align: top;
}

td.item_description {
  font-style: italic;
}

div.special_border {
  padding: 5px;
  border:1px solid #000;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}
